.tooltipWrapper {
  position: relative;
}
.tooltipWrapper .tooltip {
  position: absolute !important;
  display: none !important;
  left: 100%;
  top: 50%;
  margin-top: -2px;
  -webkit-transform: translateX(10px) translateY(-50%);
  -moz-transform: translateX(10px) translateY(-50%);
  -ms-transform: translateX(10px) translateY(-50%);
  transform: translateX(10px) translateY(-50%);
  width: auto !important;
}
.tooltipWrapper:hover .tooltip {
  display: block !important;
}
